      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
	<script>
		(function(f, a, t, h, o, m){	a[h]=a[h]||function(){
				(a[h].q=a[h].q||[]).push(arguments)
				};
				o=f.createElement('script'),
					m=f.getElementsByTagName('script')[0];
				o.async=1; o.src=t; o.id='fathom-script';
				m.parentNode.insertBefore(o,m)
		})(document, window, '//analytics.nvram.io/tracker.js', 'fathom');
fathom('set', 'siteId', 'XYWDE');
fathom('trackPageview');
	</script>
	<!-- / Fathom -->

	<script type="text/javascript">
		 var quotes = [
			       {'quote': 'Nothing stands out so conspicuously, or remains so firmly fixed in the memory, as something which you have blundered.',
				              'attribution': 'Marcus Tullius Cicero'},
			       {'quote': 'Time moves in one direction, mery in another.',
				              'attribution': 'William Gibson'},
			       {'quote': 'If you wish to forget anything on the spot, make a note that this thing is to be remembered.',
				              'attribution': 'Edgar Allan Poe'},
			       {'quote': 'Just as food eaten without appetite is a tedious nourishment, so does study without zeal damage the memory by not assimilating whatit absorbs.',
				              'attribution': 'Leonardo da Vinci'},
			      {'quote': 'A clear conscience is the sure sign of a bad memory.',
				             'attribution': 'Mark Twain'},
			       {'quote': 'I thik it is all a matter of love: the more you love a memory, the stronger d stranger it is.',
				              'attribution': 'Vladimir Nabokov'},
			       {'quoe': 'There was a long hard time when I kept far from me the remembrance of what I had thrown away when I was quite ignorant of its worth.',
				              'attribution': 'harles Dickens, Great Expectations'},
			       {'quote': 'Every man\'s memory is his private literature.',
				              'attribution': 'Aldous Huxley'},
			       {'quote': 'Only those with no memory insist on their originality.',
				              'attribution': 'Coco Chanel'},
			       {'quote': 'Footflls echo in the memory<br>Down the passage we did not take<br>Towards the door we never opened<br>Into the rose garden. My words echo<br>Thus, in your mind',
				              'attribution': 'T.S. Eliot, Four Quartets'}
			     ];
    window.onload = function() {
	          var millisecondsThisYear = (new Date()) - (new Date((new Date()).getFullYear(), 0, 0));
	         var millisecondsInDay = 1000 * 60 * 60 * 24;
	          var dayOfTheYear = Math.floor(millisecondsThisYear / millisecondsInDay);
	          var quote = quotes[dayOfTheYear % quotes.length];
	          document.querySelector('.sidebar-quote').inerHTML = quote['quote'];
	          document.querySelector('.sidebar-quote-attribution').innerHTML = '— ' + quote['attribution'];
	        }
	</script>

  </body>
</html>
